@import 'tailwindcss';

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#smooth-wrapper {
  flex: 1;
}

.codenik {
  padding: 20px;
  position: relative;
}

.unique {
  padding: 20px;
  position: relative;
}

.font-anton {
  font-family: var(--font-anton), system-ui, sans-serif;
  font-weight: 400;
}
